DOMAIN=localhost
APIDOMAIN=api.$DOMAIN
SERVER=localhost
ADMIN_PREFIX=toscience
ADMIN_USER=${ADMIN_PREFIX}-admin
ADMIN_PASSWORD=admin
ADMIN_SALT=i/eH15H1lD/NirbFbXTF8IZJhOtjo9IfM9fkkHg0mHY=
ADMIN_EMAIL="admin\@localhost"
APACHE_LOGVERZ=/var/log/apache2
API_USER=$ADMIN_USER
ARCHIVE_HOME=/opt/toscience
BACKEND=https://$APIDOMAIN
INDEXNAME=toscience
BTRIX_API_URL=http://localhost:30870/api
BTRIX_ADMIN_USERNAME=admin@example.com
BTRIX_ADMIN_PASSWORD=PASSW0RD!
BTRIX_ORG_NAME=$INDEXNAME
BTRIX_ORGID=
CRONJOBS_DIR=$ARCHIVE_HOME/bin
DATACITE_USER=
DATACITE_PASSWORD=
DATACITE_URL=https://mds.test.datacite.org
DOIPREFIX=10.1234/CHANGEME
DOIRESOLVER=https://handle.stage.datacite.org
DRUPAL_PASSWORD=
ELASTICSEARCH=$BACKEND/search
ELASTICSEARCH_CONF=/etc/elasticsearch
ELASTIC_PORT=9200
EMAIL="$ADMIN_EMAIL"
EMAIL_RECIPIENT_ADMIN_USERS="admin@localhost toscience@localhost"
EMAIL_RECIPIENT_PROJECT_ADMIN="admin@localhost toscience@localhost"
EMAIL_RECIPIENTS_JAVA_MAILS="admin@localhost,toscience@localhost"
FEDORA_HOME=$ARCHIVE_HOME/fedora
FEDORA_USER=admin
FEDORA_PASSWORD=$ADMIN_PASSWORD
FRONTEND=$DOMAIN
HERITRIX_DATA=http://$SERVER
HERITRIX_DIR=$ARCHIVE_HOME/heritrix-data
HERITRIX_URL=https://localhost:8443
HERITRIX_PASSWORD=$ADMIN_PASSWORD
IP=all
KENNZEICHEN=
KEYSTORE=$ARCHIVE_HOME/conf/toscience_keystore
STOREPASS=
KEYPASS=
LABELS_PASSWORD=$ADMIN_PASSWORD
LINUX_GROUP=users
LINUX_USER=`whoami`
MATOMO=$ARCHIVE_HOME/piwik
MATOMO_ADMIN=admin
MATOMO_FORCE_IDSITES=1,2,3
MATOMO_PASSWORD=
MATOMO_PASSWD=$MATOMO_PASSWORD
MATOMO_URL=$BACKEND/piwik
MATOMO_SERVER=$MATOMO_URL
MATOMO_SKIP_IDSITES=
MATOMO_USER=$MATOMO_ADMIN
MYSQL_PASSWORD=
MYSQL_LABELS_PASSWORD=
MYSQL_OAI_PASSWORD=
NAMESPACE=$INDEXNAME
OIAPMH_PASSWORD=$MYSQL_OAI_PASSWORD
PASSWORD=$ADMIN_PASSWORD
PLAYPORT=9000
PROJECT=$NAMESPACE
REGAL_ADMIN=$ADMIN_USER
REGAL_APP=/opt/toscience/toscience-api
REGAL_BACKUP=/opt/toscience/backups
REGAL_LOGS=/opt/toscience/logs
REGAL_PASSWORD=$ADMIN_PASSWORD
REGAL_TMP=/opt/toscience/tmp
SSL_CHAIN_FRONTEND=/etc/ssl/chain/chain.txt
SSL_PRIVATE_KEY_BACKEND=$ARCHIVE_HOME/conf/to.science.api-ssl.key
SSL_PUBLIC_CERT_BACKEND=$ARCHIVE_HOME/conf/to.science.api-ssl.crt
SSL_PRIVATE_KEY_FRONTEND=$ARCHIVE_HOME/conf/to.science.drupal-ssl.key
SSL_PUBLIC_CERT_FRONTEND=$ARCHIVE_HOME/conf/to.science.drupal-ssl.crt
SSL_PUBLIC_CERT_COUNTRY=DE
SSL_PUBLIC_CERT_STATE=Nordrhein-Westfalen
SSL_PUBLIC_CERT_LOCATION=Cologne
SSL_PUBLIC_CERT_ORGANIZATION="Hochschulbibliothekszentrum NRW"
SSL_PUBLIC_CERT_ORGANIZATION_UNIT=IDW
STATS_LOG=$ARCHIVE_HOME/logs/stats.log
TMPDIR=$ARCHIVE_HOME/tmp
TOMCAT_HOME=$ARCHIVE_HOME/fedora/tomcat
TOMCAT_CONF=$TOMCAT_HOME/conf
TOMCAT_PORT=8080
URNBASE=https://$FRONTEND/resource/
URNSNID=
VERSION=1.0.0-SNAPSHOT
WAYBACK_SERVER=
WAYBACK_PORT=8080
WHITELIST="127.0.0.1"
